body {
  background-color: #fff;
  color: #333;
  font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.big--container {
  display: flex;
  flex-direction: row;
}

.container--cards {
  display: flex;
  flex-direction: column;
  flex: 0.85;
}

img {
  max-width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 10px;
  max-width: auto;
  margin: 1em auto;
}

.card {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
  border: 5px solid #999;
  border-radius: 10px;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card h2 {
  margin: 0;
  padding: 0.5rem;
}

.card .content {
  padding: 0.5rem;
}

.card footer {
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
}

p {
  font-size: small;
}

textarea {
  padding: 3rem;
}

.helper--container {
  display: flex;
  flex-direction: column;
  flex: 0.15;
  position: fixed;
  right: 0;
}

.helper--container footer {
  background-color: #63e1bc;
  padding: 3.14rem 3rem;
  font-size: large;
  text-align: center;
  color: black;
  border: 4px solid #1a867f;
  border-radius: 5px;
}

.helper--container .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  align-self: auto;
  width: 9vw;
  height: 9vw;
  border-radius: 100%;
  font-size: medium;
  margin-bottom: 3%;
}

.helper--container .helper1 {
  background-color: #237fcc;
}

.helper--container .helper2 {
  background-color: #4eb5e0;
}

.helper--container .helper3 {
  background-color: #63e1bc;
}

@media screen and (max-width: 1750) {
  .helper--container .item {
    font-size: 1em;
    width: 8vw;
    height: 8vw;
  }
}

@media screen and (max-width: 1600px) {
  .helper--container .item {
    font-size: x-small;
    width: 7vw;
    height: 7vw;
  }
}

@media screen and (max-width: 1500px) {
  .helper--container .item {
    font-size: x-small;
    width: 6vw;
    height: 6vw;
  }
}

@media screen and (max-width: 1500px) {
  .helper--container .item {
    font-size: xx-small;
    width: 5vw;
    height: 5vw;
  }
}

@media screen and (max-width: 1000px) {
  .helper--container .item {
    font-size: 20%;
    width: 4vw;
    height: 4vw;
    margin-bottom: auto;
  }
}

@media screen and (max-width: 800px) {
  .helper--container .item {
    font-size: 15%;
    width: 3vw;
    height: 3vw;
  }
}

/* 
.index__module--header {
  display: flex;
  flex-direction: column;
  flex: 0.35;
  border-right: 1px solid lightgrey;
}

.index__module--content {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}


*/
